@if (Editing)
{
    <div class="bold">Door</div>
    <div>
        <MatTextField @bind-Value="@Device.Name" Label="Name" Required="true"></MatTextField>
        <MatTextField @bind-Value="@Device.OpenPinNumber" Label="Open Pin Number" Required="true" Type="number" min="1" max="30"></MatTextField>
        <MatTextField @bind-Value="@Device.ClosedPinNumber" Label="Closed Pin Number" Required="true" Type="number" min="1" max="30"></MatTextField>
    </div>
}
else
{
    <div class="bold"><MatIcon Icon="meeting_room"></MatIcon> @Device.Name</div>
    <div>
        Open:
        @Device.IsOpen
    </div>
    <div>
        Closed:
        @Device.IsClosed
    </div>
    <div>
        <MatButton Raised="true" OnClick="Open">Open</MatButton>
        <MatButton Raised="true" OnClick="Close">Close</MatButton>
    </div>
}
