@using SmartCoop.Core.Sensors.Temperature
@if (Editing)
{
    <div class="bold">Temperature</div>
    <div>
        <MatTextField @bind-Value="@Device.Name" Label="Name" Required="true"></MatTextField>
        <MatTextField @bind-Value="@Device.ReadFrequency" Label="Read Frequency (seconds)" Required="true"></MatTextField>
        <div>
            Bus Id: @Device.OneWireDevice?.BusId
            Dev Id: @Device.OneWireDevice?.DevId
        </div>

        @if (!Devices.Any() && !Loading)
        {
            <div>
                There were no temperature sensors found.
            </div> }
        else
        {
            <div>
                Available Devices:
            </div>
            foreach (var device in Devices)
            {
                <div>
                    Bus Id: @device.BusId
                    Dev Id: @device.DevId
                    <MatButton OnClick="(()=> UseDevice(device))">Select</MatButton>
                </div>
            }
        }
    </div>
}
else
{
    <div>
        @Device.Temp&deg;@(Device.UnitType == TempType.Celcius ? "C" : "F")
    </div>

}
